<div class="content">
  <center>
    <div style="margin-top:89px">
      <h1>GitHub Users Favourite Language</h1>
    </div>
    <div class="search-container">
      <div class="form-inline">
        <%= form_tag do %>
          <div class="search-field-container">
            <%= text_field_tag :title, nil, class: "search-field" %>
          </div>
        <% end %>
      </div>
    </div>
  </center>
</div>

